<div ng-app="app">
  <team-crunchy></git hy>
  <div ng-controller="employeeCtrl" ng-init="setup()">
  <ul>
    <li ng-repeat="error in errors">{{ error }}</li>
  </ul>
  <p>
    First Name<input ng-model="firstName">
    Last Name<input ng-model="lastName">
    Email<input ng-model="email">
    <button ng-click="addEmployee(lastName, firstName, email)">Add Employee</button>
  </p>
  <p>
    First Name<input ng-model="firstNameFilter">
  </p>
  <employee-table></employee-table>
  </div>
</div>