<div ng-app="app">
  <team-crunchy></team-crunchy>
  <div ng-controller="employeeCtrl" ng-init="setup()">
  <ul>
    <li ng-repeat="error in errors">{{ error }}</li>
  </ul>
  <p>
    First Name<input ng-model="firstName">
    Last Name<input ng-model="lastName">
    Email<input ng-model="email">
    <button ng-click="addEmployee(lastName, firstName, email)">Add Employee</button>
  </p>
  <p>
    First Name<input ng-model="firstNameFilter">
  </p>
  <table>
    <tr>
      <th ng-click="toggleOrder('first_name')">First Name</th>
      <th ng-click="toggleOrder('last_name')">Last Name</th>
      <th ng-click="toggleOrder('email')">Email</th>
      <th ng-click="toggleOrder('birthday')">Birthdate</th>
      <th ng-click="toggleOrder('ssn')">SSN</th>
      <th>Delete this Entry</th>
    </tr>
    <tr ng-repeat="employee in employees | filter: {first_name: firstNameFilter} | orderBy: orderAttribute:purpleHippo">
      <td>{{ employee.first_name}}</td>
      <td>{{ employee.last_name}}</td>
      <td>{{ employee.email}}</td>
      <td>{{ employee.birthday}}</td>
      <td>{{ employee.ssn}}</td>
      <td><button ng-click="deleteEmployee(employee)"> Delete me!!! </button></td>
    </tr>
  </table>


  </div>
</div>